.ui.grid > .column {
  padding-top: 2rem !important;
  font-family: "Raleway", sans-serif;
}


.ui.raised.segment {
  min-height: 300px;
  font-weight: 600;
}

.ui.message {
  text-align: center;
  padding: 2rem;
  margin: 0;
}

h3.ui.header{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.ui.container h2.ui.header{
  color: rgba(0, 72, 108, 0.78);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.ui.button{
  background: #fff;
  color: cornflowerblue;
}

